<div id="app">
    <div class="vigenere-input-data">
        <textarea v-model="initialText"></textarea>
        <input type="text" v-model="keyword" />
        <input type="button" value="Шифровать" v-on:click="encode(initialText, keyword)"/>
    </div>
    <div class="vigenere-result">
        {{encodedText}}
    </div>
    
</div>
